{% extends 'base.html.twig' %}

{% block title %} Boutique - Le Patch à la Maison {% endblock %}

{% block content %}

<h1> Boutique </h1>

{% for category in categories %}

<h2 class="mt-4">{{ category.name }}</h2>

<div class="row product-container">
    {% for product in category.products %}
    {% if product.stock>0 %}
    {# {{ dump(product.stock) }}    	 #}
        <div class="col-md-4">
            <div class="product-item text-center">
                <div class="product-illustration"><a href="{{ path('product', {'slug':product.slug}) }}" ><img src="/uploads/{{ product.illustration }}" alt"{{ product.name }}" class="img-fluid"></a></div>
                <div>
                <h2> {{ product.name }} </h2>
                <p class="product-subtitle"> {{ product.subtitle }} </p>
                <p class="product-price"> {{ (product.price /100)|number_format(2, ',') }} € </p>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}

{% endblock %}
