{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de ma commande - Le Patch à la Maison
{% endblock %}

{% block script_head %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}

	<h1>Récapitulatif de ma commande</h1>

	<div class="row">

		<div class="col-md-6 border pt-3 mb-4">

			{% set total_price = null %}

			{% for product_in_cart in cart %}
				<div class="row py-3">
					<div class="col-md-2"><img class="img-thumbnail" src="/uploads/{{ product_in_cart.product.illustration }}" alt "{{ product_in_cart.product.name }}" class="img-fluid"></div>
					<div class="col-md-6">{{ product_in_cart.product.name }}
					</div>
					<div class="col-md-1 text-center">x{{ product_in_cart.quantity }}
					</div>
					<div class="col-md-3 text-center">{{ ((product_in_cart.product.price * product_in_cart.quantity) / 100) |number_format(2, ',') }}
						€
					</div>
					{% set total_price = total_price + (product_in_cart.product.price * product_in_cart.quantity) %}
				</div>
			{% endfor %}
			<div class="mt-3">
				<p class="cart-total text-center">Total :
					{{ (total_price / 100) |number_format(2, ',') }}
					€</p>

			</div>
		</div>

		<div class="col-md-6">
			<h2>Adresse de livraison :</h2>
      <p>{{ deliveryaddress }}</p>
      <div>
      <p class="text-center mt-4"><a class="btn btn-success" id="checkout-button">Payer {{ (total_price / 100) |number_format(2, ',') }} €</a></p>
      </div>
		</div>

	</div>

{% endblock %}

{% block script_body_end %}
<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_test_51IJ8VEF5kj9oHbQsVMvF2AvcOYqWQLPyOVI6FDzbY49pSB5zzcsoN55vewfSEkdnyESszmZzxeiZYjmvh1VxUsQs00hyRSnuhV");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("/commande/create-session/{{orderid}}", {
        method: "POST",
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          if(session.error == 'order') {
            window.location.replace('{{ path('order') }}')
          } else {
            return stripe.redirectToCheckout({ sessionId: session.id });
          }          
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>
{% endblock %}